# IntelliJ IDEA
.idea/
*.iml

# Maven
target/
out/

# Node.js
node_modules/
build/

# Sistēmas un pagaidu faili
.DS_Store
Thumbs.db
*.log
*.class

# Sensitīvi konfigurācijas faili
application.properties
application.yml
.env

# Docker lokālie faili
docker-compose.override.yml
*.jar
docker-data/